librosa>=0.8.1
matplotlib
psutil
git+https://github.com/csteinmetz1/pymixconsole
pyloudnorm
git+https://github.com/aubio/aubio
scipy>=1.6.3
soundfile
soxbindings
sty
tensorboard
setuptools==59.5.0
torch
